# ----------------- Persistent Volume Claim -----------------
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
  labels:
    app: mysql
    tier: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
# ----------------- MySQL Deployment -----------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-db-deployment
  labels:
    app: mysql
    tier: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
      tier: database
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mysql
        tier: database
    spec:
      containers:
        - name: mysql
          image: mysql:8
          env:
            - name: MYSQL_ROOT_PASSWORD # Setting database password from Secret.
              valueFrom:
                secretKeyRef:
                  name: mysql-secrets # mysql-secrets is a name of the secret in mysql-secret.yml file.
                  key: password  # password : Key name in Secret of mysql-secrets.yml
            - name: MYSQL_DATABASE # Setting database name from Config-Map
              valueFrom:
                configMapKeyRef:
                  name: mysql-config-map # Config-Map name in mysql-config-map.yml
                  key: dbName  # dbName : Key name in config-map
          ports:
            - name: mysql
              containerPort: 3306
          volumeMounts:
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-pv-claim
---
# ----------------- MySQL Service -----------------
apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: mysql
    tier: database
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: mysql
    tier: database
  clusterIP: None
